@import '../../../styles/variables';

.Auth {
  display: block;
  justify-content: center;
  min-height: 100vh;
  margin-top: 3em;
}

#quote {
  display: flex;
  justify-content: center;
  margin-left: 31.5em;
}