.card {
  display: block;
  width: 32%;
}

* {
    .Books {
      display: flex row wrap;
      width: 32%;
      min-width: 200px;
      margin: 0.66% auto;
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
  }
  
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    .Books {
      min-width: 200px;
      margin: 0.66% auto;
      box-shadow: 0 8px 16px rgba(0,0,0,.175);
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    .Books {
      min-width: 200px;
      margin: 0.66% auto;
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .Books {
      width: 32%;
      min-width: 200px;
      margin: 0.66% auto;
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
  }