$purple: darkorchid;
$dodgerBlue: #1e90ff;
$shadowBlue: #00376c;
$bootBlue: #007bff;
$aqua: #1efffe;
$trueBlue: #1e20ff;
$orange: #ff8d1e;
$pink: #ff1e90;
$green: #1eff8d;
$dkgreen: #28a745;
$yellow: #fffe1e;
$dkyellow: #ffc107;
$red: #ff1e20;
$bootRed:#dc3545;
$gray: #868f97;
$dkgray: #6c757d;
$black: #00050a;
$teal: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;