$purple: darkorchid;
$dodgerBlue: #1e90ff;
$shadowBlue: #00376c;
$orange: #ff8d1e;
$pink: #ff1e90;
$green: #1eff8d;
$yellow: #fffe1e;
$red: #ff1e20;
$aqua: #1efffe;
$trueBlue: #1e20ff;
$gray: #868f97;
$black: #00050a;