@import '~bootstrap/dist/css/bootstrap.min.css';
@import './variables';

body {
  background-color: $dodgerBlue;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Atma', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  background-color: $dodgerBlue;
  border: none;
}

.Record {
  background-color: $dkyellow;
  border: solid 5px $dodgerBlue;
  height: min-content;
  width: min-content;
}

.btn {
  color: $light;
}