@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// * {
//   .App {
//     display: block;
//     width: 32%;
//     min-width: 200px;
//     margin: 0.66% auto;
//   }
// }

// /* Mobile Styles */
// @media only screen and (max-width: 400px) {
//   .App {
//     min-width: 200px;
//     margin: 0.66% auto;
//   }
// }

// /* Tablet Styles */
// @media only screen and (min-width: 401px) and (max-width: 960px) {
//   .App {
//     min-width: 200px;
//     margin: 0.66% auto;
//   }
// }

// /* Desktop Styles */
// @media only screen and (min-width: 961px) {
//   .App {
//     width: 32%;
//     min-width: 200px;
//     margin: 0.66% auto;
//   }
// }
