@import '../../../styles/variables';

  .booklist {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    min-width: 200px;
    margin: 10em auto;
    background-color: $dodgerBlue;
  }

  h1 {
    padding: .5em;
  }

  .btn{
    margin: 1em;
  }